/* Reset default styles */
body,
h1,
form,
input,
button {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif; /* Use the Roboto font globally */
}

/* Header styles */
header {
  background-color: #ff4081;
  padding: 20px;
}

h1 {
  color: white;
  text-align: center;
  font-size: 32px;
}

/* Container styles */
#app {
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Form styles */
.form-container {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Participants list styles */
.participants-container {
  margin-bottom: 20px;
}

#participants-list {
  margin-bottom: 20px;
}

/* Winner display styles */
#winnerSection {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

/* Button styles */
#submit-button,
#draw-button,
#reset-button {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

#submit-button {
  background-color: #007bff;
  color: white;
  border: none;
  margin-bottom: 10px;
}

#draw-button {
  background-color: #007bff;
  color: white;
  border: none;
  margin-bottom: 10px;
}

#reset-button {
  background-color: #ff4081;
  color: white;
  border: none;
  margin-top: 10px;
}

#submit-button:hover,
#draw-button:hover {
  background-color: #1367c0;
}

#reset-button:hover {
  background-color: #d5004e;
}

button:focus {
  outline: none;
}

/* Responsive Styles */
@media screen and (max-width: 600px) {
  #app {
    max-width: 100%;
  }

  button {
    width: 100%;
  }
}
